{% include 'base.html' %}

{% block content %}

<div class="container">
     <h1> Notes </h1>
    <form method="POST" id="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">
                Title
            </label>
            <input type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control" id="note" rows="3"></textarea>
        </div>
        <button type="submit">Submit </button>
    </form>
</div>
<!-- Adding axios script tag  here-->
{% endblock %}